* {
  margin: 0; /*zear a margem externa dos elementos*/
  padding: 0; /*zerar a margem interna dos elementos*/
}
header {
  /* Vamos adicionar uma imagem de fundo ao cabeçalho */
  background-image: url("../img/cafe6.jpg");
  background-position: 0px -100px;
  height: 400px;
  transition: ease 2s;
}
h1 {
  color: rgb(0, 0, 0);
  font-family: "Monoton", cursive;
  text-align: center;
  font-size: 80px;
  padding-top: 100px;
  text-shadow: 5px 5px 20px rgb(255, 255, 0);
}
/* vamos formatar os elementos de li para ficar um ao lado
do outro com o comando display */
nav ul li {
  /* Dispor os links um ao lado do outro */
  display: inline-block;
  /* border: 1px solid rgb(128, 64, 0); */
  margin-left: 100px;
  margin-right: 100px;
}
/*Alinhar os elementos de link ao centro usando text-align:center no nav
assim tudo que estiver dentro do nav ira o centro*/
nav {
  text-align: center;
  margin-top: 132px;
  /* A cor utilizada para o fundo da nav foi o rgba, que significa red gree blue e alpha
  (transparencia), onde o valor mais próximo do 0(zero) é totalmente transparente e 
  quanto mais proximo do 1 é totalmente solido. Neste caso estamos usando 80% de solidez
  ou seja, aplicamos 20% de transparencia */
  background-color: rgba(255, 255, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li a {
  color: rgb(128, 64, 0);
  /* para retirar o sublinhado(underline) dos links utilizaremos o comando text-decoration 
    com o valor none(nenhum) */
  text-decoration: none;
  font-family: "Monoton", cursive;
  /* aplicação de negrito a letra */
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(128, 64, 0);
  padding-left: 10px;
  background-color: rgb(0, 0, 0, 0);
}

/* Criação da formatação do rodapé(footer) */
footer {
  background-color: rgba(128, 64, 0, 0.6);
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: "Monoton", cursive;
  padding-top: 20px;
}

div ul li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
}
div a {
  color: blue;
  text-decoration: none;
}

main {
  /* Vamos aplicar uma margem interna de 15px utilizaremos o comando paddind */
  padding: 25px;
}

h2 {
  font-family: arial;
  color: rgb(128, 64, 0);
  font-size: 25pt;
  border-bottom: 4px double rgb(128, 64, 0);
  padding-left: 530px;
  margin-bottom: 40px;
}

h3 {
  font-family: arial;
  margin-left: 20px;
  font-size: 18pt;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

p {
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  /* aplicaremos um comando que aumenta a autura da linha, esse efeito simula o espaçamento entre linhas encontrado no word
  o comando é line-height -> linha height */
  line-height: 30px;
  margin-bottom: 25;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

#home {
  color: rgba(128, 64, 0, 0.6);
  text-align: center;
}

#home img {
  height: 500px;
  width: 500px;
  margin: 50px;
  /* vamos aplicar um efeito de trasparencia com o comando opacity. onde os valores 1 é totalmente visivel 
  e zero é totalmente trasparente */
  opacity: 0.8;
  border-radius: 50%;
  transition: ease 0.5s;
}
#home img:hover {
  opacity: 1;
  transform: scale(2);
  cursor: pointer;
  transform: rotatey(360deg);
  transition: ease 2s;
}

#acafeteria {
  text-align: center;
}
#acafeteria img {
  width: 600px;
  height: 400px;
}

#acafeteria iframe {
  margin-left: auto;
  margin-right: auto;
}

/* abaixo a formatação para a página cardápio */
#container,
#linha,
#imagem,
#texto {
  /* border: 1px solid red; */
}

#container {
  display: inline-block;
}

#linha {
  display: inline-block;
  width: 80%;
}

#imagem img {
  width: 250px;
  height: 250px;
}

#imagem {
  width: 250px;
  height: 250px;
  /* fazer a imagem flutuar para a esquerda */
  float: left;
}

#texto {
  padding: 20px;
  width: 70%;
  float: left;
}
